
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="../asset/css/output.css"/>
    <link rel="stylesheet" href="../asset/css/default.css"/>
    <link rel="stylesheet" href="../asset/css/loading.css"/>
    <link rel="stylesheet" href="../asset/css/w3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
    <script src="../asset/script/jquery-3.3.1.js"></script>

  

    

</head>
<body>
<form class="absolute top-[50%] left-0 right-0 bottom-0 " action="/google/upload" enctype="multipart/form-data" method="post">
    <div class="h-[260px] mt-[-130px] w-[80%] rounded-xl relative left-0 right-0 m-auto bg-slate-900 pt-10">
        <div class="flex justify-center items-center ">

            <div class="file-drop-area">
                <span class="fake-btn">Choose files</span>
                <span class="file-msg">or drop files here</span>
                <input class="file-input" type="file"  name="files" multiple>
                <div class="item-delete"></div>
            </div>
        </div>
        <div class="flex justify-center items-center w-full mt-1 ">
            <input class="relative justify-center rounded-xl items-center p-3 mt-1 w-[350px]" type="text" placeholder="Your Folder in Drive" name="text">
        </div>
        <div class="flex justify-center items-center w-full mt-1">
            <button  class="relative p-3 rounded-xl pl-5 pr-5 justify-center items-center bg-slate-700 w-[350px]" type="submit" value="Upload"> Submit </button>
        </div>
    </div>


    <!-- <div class="h-[260px] mt-[-130px] w-[80%] rounded-xl relative left-0 right-0 m-auto bg-slate-900 pt-10">
       <div class="text-center text-3xl">
            Access Link
       </div>
       <br>
       <div class="text-center text-xl">
            Download Link: <span class="download_link"></span>
        </div>

        <div class="text-center text-xl">
            Link: <span class="download_link"></span>
        </div>
    </div> -->
   
</form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../asset/script/upload2.js"></script>

</body>
</html>


<script>


